/* Body */
body>h1 {
    display: none;
    font-size: 50px;
    margin: 1%;
    margin-top: 2%;
    text-align: center;
}

.cart-body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

/* Items table */
table {
    display: none;
    border-collapse: collapse;
    margin: 1%;
    box-shadow: 5px 5px 15px gray;
    /* margin-bottom: 100px; */
}

th,
td {
    /* border: 1px solid black; */
    border-bottom: 1px solid gray;
    /* background-color: white; */
    width: 200px;
    padding: 2%;
    text-align: center;
}

/* .middle-box,
#title-heading,
#title-price,
#item-name {
    border-left: none;
    font-size: 20px;
    font-weight: bold;
    border-right: none;
} */

tr .row-box:first-child,
#title-item {
    border-right: none;
}

tr .row-box:last-child,
#title-empty {
    border-left: none;
}

/* Total amount */
#total-div {
    position: absolute;
    bottom: 0px;
    align-self: flex-end;
    justify-content: flex-end;
    align-items: center;
    display: none;
}

#total-div p,
#total-div b,
#total-div button {
    margin: 10px;
    font-size: 1.3rem;
}

.checkout-btn {
    height: 50px;
    padding: 1.5% 2%;
    margin: 1%;
    background-color: white;
    border: 1px solid black;
    width: 148px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#checkout-icon {
    font-size: 1rem;
    margin-right: 5px;
}

#empty-cart {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

input[type=number] {
    outline: none;
    /* margin-left: 5px; */
    color: black;
    width: 59px;
    height: 28px;
    text-align: center;
    padding-left: 3px;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;

}

.food-img {
    width: 200px;
    height: 150px;
}

.remove-btn {
    /* padding: 5px 12px; */
    width: 100px;
    height: 50px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 9px;
}

.img-col {
    width: 300px;
    border-right: none;
}

/*Pop Up*/
.pop-up-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    position: fixed;
    z-index: 30;
}

.pop-up {
    width: 320px;
    height: 200px;
    background-color: #F8EFE5;
    z-index: 5;
    display: none;
    text-align: center;
    border-radius: 12px;
}

.pop-up p {
    font-size: 1.2rem;
    margin-left: 10px;
    margin-right: 10px;
}

.popBtns {
    margin: 2%;
    margin-top: 4%;
}

.popBtns button {
    font-size: 1.2rem;
    margin: 1%;
    padding: 1% 2.5%;
    align-self: center;
    border-radius: 12px;
    background-color: #FAD370;
    border: none;
    width: 50px;
}
.popBtns button:hover{
    background-color: #debb61;
}

.close-btn {
    background-color: #F8EFE5;
    border: none;
    font-size: 1.4rem;
    align-self: flex-end;
    margin: 4%;
}

.popBtns button:first {
    margin-right: 40px;
}

.close-btn svg {
    background-color: #F8EFE5;
    fill: black;
}

.close-btn svg:hover {
    fill: #FAD370;
}
table{
    width:100%;
    box-shadow:none;
    margin-bottom: 100px;
}
body{
    background:white;
}
tr td:nth-child(2){
    font-size:22px;
    position:relative;
    top:-40px;
    font-weight:bold;
    text-align:left;
}
/*media queries*/
@media screen and (max-width: 570px) {
    .food-img {
        width: 110px;
        height: 90px;
        margin: 5px;
    }

    .row-box {
        padding: 1%;
    }

    table {
        font-size: 0.8rem;
    }

    .remove-btn {
        width:70px;
        height:35px;
    }
    tr td:nth-child(2){
    font-size:12px;
    position:relative;
    top:-20px;
    font-weight:bold;
    text-align:left;
}
}