* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fad370;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #CE5B68;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.navbar {
    background-color: #104d40;
    color: white;
}

.navbar a,
.nav-link,
.dropdown {
    color: white;
}

.navbar a:hover {
    color: #fad370;
}

.dropdown a,
.dropdown-toggle {
    color: white;
    -bs-navbar-active-color: rgba(255, 255, 255, 1);
    --bs-nav-link-hover-color: rgba(255, 255, 255, 1);
    --bs-nav-link-disabled-color: rgba(255, 255, 255, 1);
    --bs-navbar-active-color: rgba(255, 255, 255, 1);
}

.dropdown-menu {
    background-color: #F8EFE5;
}

.dropdown-menu a {
    color: black;
}

.dropdown-menu a:hover {
    background-color: #F8EFE5;
    color: #CE5B68;
}

/*Footer*/
.footer {
    background-color: #104d40;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 0%;
    color: #F8EFE5;
    margin-top: auto;
    overflow: hidden;
    bottom: 0%;
}

.footer-p1 {
    display: flex;
    width: 35vw;
}

.footer-logo {
    width: 60px;
    align-self: flex-start;
}

.footer-div-p1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: flex-end;
    margin-left: 1%;
}

.footer-p2 {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

/*Pop-up Msg*/

.pop-up-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 50;
    display: none;
}

.pop-up {
    width: 300px;
    height: 180px;
    background-color: #F8EFE5;
    z-index: 5;
    display: none;
    text-align: center;
    border-radius: 12px;
    position: absolute;
}

.pop-up h2 {
    margin-bottom: 2%;
}

.close-btn {
    background-color: #F8EFE5;
    border: none;
    font-size: 1.4rem;
    align-self: flex-end;
    margin: 2%;
}

.close-btn svg {
    background-color: #F8EFE5;
    fill: black;
}

.close-btn svg:hover {
    fill: #FAD370;
}

.cms-popup{
    display: block;
}
@media screen and (max-width: 950px) {
    .footer-div-p1 {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .footer-div-p1 {
        display: none;
    }
}