* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #104d40;
    color: white;
}

.navbar a,
.nav-link,
.dropdown {
    color: white;
}

.navbar a:hover {
    color: #fad370;
}

.dropdown a,
.dropdown-toggle {
    color: white;
    -bs-navbar-active-color: rgba(255, 255, 255, 1);
    --bs-nav-link-hover-color: rgba(255, 255, 255, 1);
    --bs-nav-link-disabled-color: rgba(255, 255, 255, 1);
    --bs-navbar-active-color: rgba(255, 255, 255, 1);
}

.dropdown-menu {
    background-color: #F8EFE5;
}

.dropdown-menu a {
    color: black;
}

.dropdown-menu a:hover {
    background-color: #F8EFE5;
    color: #CE5B68;
}

/*Footer*/
.footer {
    background-color: #104d40;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 0%;
    color: #F8EFE5;
    margin-top: auto;
    overflow: hidden;
    bottom: 0%;
}

.footer-p1 {
    display: flex;
    width: 35vw;
}

.footer-logo {
    width: 60px;
    align-self: flex-start;
}

.footer-div-p1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: flex-end;
    margin-left: 1%;
}

.footer-p2 {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

@media screen and (max-width: 950px) {
    .footer-div-p1 {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .footer-div-p1 {
        display: none;
    }
}