/*Menu Page*/
.menu-body {
    min-height: 100vh;
}

/* Menu title/header */
.menu-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BAC9A3;
    color: #F8EFE5;
    position: relative;
    max-width: 100%;
    height: 50vh;
    background-image: url('spencer-davis-W_GSHCi0cR8-unsplash (1).jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

.menu-title h1 {
    font-size: 5rem;
    text-align: center;
    color: beige;
}

.menu-main {
    position: relative;
}

/*Navigation of Menu*/
.menu-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CE5B68;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 15px;
}
.categories{
    font-size: 1.4em;
    font-weight: 600;
}
.category-div{
    display: flex;
    /* justify-content: center; */
    overflow: hidden;
    font-size: 0.6em;
    /* min-width: 90%; */
    ::-webkit-scrollbar{
        display: none;
    }
    ::-webkit-scrollbar-track{
        display: none;
    }
    ::-webkit-scrollbar-thumb{
        display: none;
    }
}
.category-btn{
    background-color: #CE5B68;
    color: white;
    padding: 3px 14px;
    margin: 2px 5px;
    font-size: 18px;
    border-radius: 12px;
    border: 1px solid white;
}
.category-btn:active{
    transform: scale(0.95);
}
.categories:last-child{
    margin-left: 10px;
    font-size: 1.2em;
}
.menu-navigation img{
    background-color: #BAC9A3;
    padding: 5px;
    margin-right: 10px;
}
#cart-btn-menu{
    position: relative;
    margin-left: 5px;
    
    padding-left: 10px;
    border-left: 1px solid white;
    height: 50px;
    display: flex;
    align-items: center;
}
#cart-icon-menu {
    cursor: pointer;
    font-size: 1.8em;
    margin-right: 0;
}

#cart-icon-menu:hover {
    fill: #FAD370;
}
#countOfItems{
    position: absolute;
    border-radius: 100%;
    padding: 1px 5px;
    text-decoration: none;
    right: -10px;
    top: -8px;
    background-color: #104d40;
    color: white;
    text-align: center;
}

/*Menu*/
.menu-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.section-title {
    padding-top: 65px;
    margin-top: -65px;
    margin: 1%;
    font-size: 2em;
    text-align: center;
    font-weight: 700;
    width: 100%;
}


.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 85vw;

}

.card{
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) -(var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    width: 250px;
    margin: 10px;
    max-height: 500px;
    background-color: #BAC9A3;
    padding: 15px;
    border-radius: 6px;
    min-width: 250px;
    
}
.card img, .card-img-top, .card-img{
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius);
    max-height: 200px;
    height: 200px;
}
.card-body{
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}

.menu-item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item-details>div {
    display: flex;
    align-items: center;
}

.menu-item-name {
    text-align: center;
    margin: 0.2%;
}

.card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
    color: var(--bs-card-title-color);
    font-weight: 700;
    font-size: 20px;
}


.menu-item-price {
    font-weight: bold;
}

.quantity-div{
    display: flex;
    align-items: center;
}
.quantity-input{
    width: 100px;
}
.add-btn{
    border-radius: 100%;
    padding: 5px 10px;
    margin-left: 5px;
}
input[type=number] {
    outline: none;
    margin-left: 5px;
    font-size: 1.1rem;
    max-width: '50px';
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;

}

.add-btn {
    padding: 3% 6%;
    border-radius: 100%;
    border: 0;
    cursor: pointer;
    font-weight: 800;
    font-size: 1.3rem;
    background-color: #104d40;
    color: white;
}
.menu-item-description {
    max-height: 60px;
    min-height: 60px;
    overflow: auto;
}
/*Checkout*/
.checkout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 3px dashed black;
}

.total-title,
.total-price {
    padding: 2% 1%;
    align-self: center;
}

.checkout-btn {
    padding: 0.7% 1%;
    font-size: 1.2rem;
    margin: 1%;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

#cart-icon-checkout {
    fill: black;
    font-size: 2em;
}

#checkout-icon {
    fill: black;
    margin-right: 5px;
}

/*Up and Down Buttons*/
.up-down {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: -webkit-sticky;
    position: sticky;
    bottom: 10px;
    right: -50px;
}

.up-down-btns {
    background-color: #CE5B68;
    padding: 15px;
    font-size: 1.2rem;
    margin: 0.2%;
    border-radius: 100%;
}

#up-btn {
    display: none;
}

.up-down-btns:hover {
    background-color: #fad370;
}

.small-cart {
    display: none;
}

/*Pop-up Msg*/
.pop-up-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    position: fixed;
    z-index: 50;
}

.pop-up {
    width: 300px;
    height: 180px;
    background-color: #F8EFE5;
    z-index: 5;
    display: none;
    text-align: center;
    border-radius: 12px;
}

.pop-up h2 {
    margin-bottom: 2%;
}

.close-btn {
    background-color: #F8EFE5;
    border: none;
    font-size: 1.4rem;
    align-self: flex-end;
    margin: 2%;
}

.close-btn svg {
    background-color: #F8EFE5;
    fill: black;
}

.close-btn svg:hover {
    fill: #FAD370;
}

#login-btn {
    font-size: 1.2rem;
    margin: 1%;
    margin-top: 10%;
    padding: 1% 2.5%;
    align-self: center;
    border-radius: 12px;
    background-color: #FAD370;
    border: none;
    width: 100px;
}

#login-btn:hover {
    background-color: #debb61;
}

@media screen and (max-width: 1100px) {
    .pop-up {
        left: 35%;
    }
}

@media screen and (max-width: 899px) {
    .menu-section-links {
        font-size: 20px;
    }

    .main-items-links,
    .bev-items-links {
        font-size: 17px;
    }

    .beverages-items-list,
    .main-items-list {
        min-width: 120px;
        margin-top: 1.5%;
    }
}

@media screen and (max-width: 840px) {
    .pop-up {
        left: 30%;
    }
    #cart-btn-menu{
        display: none;
    }

    .menu-nav-2 {
        display: block;
        align-items: center;
        background-color: #CE5B68;
        height: fit-content;
        padding: 7px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .menu-nav-2 ul {
        list-style: none;
        display: flex;
        /* flex-wrap: wrap; */
        /* justify-content: center; */
        overflow: auto;
        white-space: nowrap;
    }

    .menu-nav-2 li {
        display: inline;
        border: 1px solid #F8EFE5;
        box-shadow: 1px 1px gray;
        padding: 5px;
        margin: 0.8%;
        max-height: 20px;
        width: fit-content;
        border-radius: 12px;
    }

    .menu-nav-2 a {
        text-decoration: none;
        color: #F8EFE5;
    }

    .menu-nav-2 li:hover {
        border-color: #FAD370;
    }

    .menu-nav-2 a:hover {
        color: #fad370;
    }

    .small-cart {
        display: flex;
        align-items: center;
        background-color: #CE5B68;
        padding: 15px;
        border-radius: 100%;
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 743px) {
    .menu-title h1 {
        font-size: 3.5rem;
    }

}

@media screen and (max-width: 600px) {
    .section-title {
        scroll-margin-top: 20px;
    }

    .pop-up {
        left: 24%;
    }

}

@media screen and (max-width: 480px) {
    .subsection-title {
        scroll-margin-top: 50px;
    }

    .pop-up {
        left: 20%;
    }

    .menu-title h1 {
        font-size: 3rem;
    }


}